In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [3]:
#Here we going to work on an example with some bull authentication data to 
#learn how to use decision trees with sklearn

In [6]:
#Load data set
billData = pd.read_csv(r'.\bill_authentication.csv')

In [9]:
billData.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [12]:
#explore data set and see wtf is up

billData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
Variance    1372 non-null float64
Skewness    1372 non-null float64
Curtosis    1372 non-null float64
Entropy     1372 non-null float64
Class       1372 non-null int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [13]:
billData.describe()

          Variance     Skewness     Curtosis      Entropy        Class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [14]:
billData

      Variance  Skewness  Curtosis  Entropy  Class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [26]:
#the data is pretty fucking boring
#to use a decision tree we need to split the data into X and y
#X will have all data outside of the 'Class' column
#we do this by using the pd.drop() fucntion.Remeber the you must specify the axis inwhich you want to split the data
#axis = 0 means the index, axis = 1 measn the columns
#Y will have the only the 'class' column

x = billData.drop(['Class'], axis = 1)
y = billData['Class']

In [27]:
#confirm that you split things correctly
x.head()

   Variance  Skewness  Curtosis  Entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [28]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Class, dtype: int64

In [29]:
#Now we need to split the data into testing and training data sets
#we can do this wiht an skLearn pacakge called train_test_split
#the test_size parameter decides how much of the data set will be used for the test training split
#here 20% will be test and 80% will be training set

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20)

In [30]:
#Here we have a classification problem so we will use the DecisionTreeClassifier package of sklearn
#the fit method is called to actuall train the model
classifier = DecisionTreeClassifier()
classifier.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [31]:
#Your model has been trained!
#Now we can make prediction simply by using the predict method from the DecisionTreeClassifier
#Remember that we using the y-axis class data to make predictions about the x-axis "meat and potatoes" data
y_pred = classifier.predict(x_test)

In [36]:
#To evaluate your classification prediction we want to use (commonly) the Confusion matrix, precision, recall, and F1 score
#all of thi shit is in sklearn
confusion = confusion_matrix(y_test,y_pred)
report = classification_report(y_test, y_pred)

In [41]:
#chekc them out
print(confusion)

[[151   3]
 [  3 118]]

In [40]:
print(report)

              precision    recall  f1-score   support

           0       0.98      0.98      0.98       154
           1       0.98      0.98      0.98       121

    accuracy                           0.98       275
   macro avg       0.98      0.98      0.98       275
weighted avg       0.98      0.98      0.98       275

In [42]:
#That's so damn good prediction! 98% accuracy MOFO!

In [ ]:
#Let's try with regressions! : ) Yay!